<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adapter" version="1.1.1301.1418" targetFramework="net461" />
  <package id="Adapter.Implementation" version="1.0.1212.0616" targetFramework="net461" />
  <package id="Adapter.Interfaces" version="1.0.1212.0616" targetFramework="net461" />
  <package id="Adapter.Sdk" version="1.0.1212.0616" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.6.0" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net461" />
  <package id="Selenium.RC" version="3.0.1" targetFramework="net461" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.27.0" targetFramework="net461" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.0.1" targetFramework="net461" />
</packages>